[build]
  publish = "client/dist"
  command = "npm run build"

[dev]
  command = "npm run dev"
  port = 5173

# Redirect all requests to index.html for SPA
[[redirects]]
  from = "/api/*"
  to = "/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
